/*
 * Forms
 */

.list-sortable {
  counter-reset: section;
  padding: 0;
  margin: 0;
  min-height: 2em;
}

.list-item-container {
  list-style: none;
  background-color: $white;
  border: 1px solid $gray-300;
  border-left: 5px solid $gray-300;
  margin-bottom: -1px;
  display: flex;
  align-items: center;
  > div.body {
    flex-basis: auto;
    flex-grow: 1;
    padding-top: 0.5rem;
  }
  > div.action {
    flex-basis: 3rem;
    padding-left: 0.5rem;
  }
  > div.sort {
    flex-basis: 6rem;
  }
  > div.draggable {
    flex-basis: 2.7rem;
    > span.drag {
      text-align: center;
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      color: $gray-500;
      cursor: move;
      transition: color .15s ease-in-out;
      &:hover {
        color: $gray-900;
      }
    }
  }
  .gohan-form-array-item {
    label, .gohan-form-description {
      font-weight: normal;
      font-size: 0.8rem;
      line-height: 1.5rem;
      margin-bottom: 1px;
    }
  }
}

.list-sortable-active {
  z-index: 100;
  opacity: 0.9;
  cursor: move;
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.1);
}

.gohan-form-asterisk {
  color: #ff0039;
  margin-left: 0.25rem;
}

.gohan-form-dialog-group {
  margin-bottom: 5px;
}

.gohan-form-error-list {
  padding: 2px;
  list-style-type: none;
  margin: 0;
}

.gohan-form-error-list-item {
  margin-top: 0;
}

.gohan-form-legend {
  font-weight: bold;
  font-size: 0.875rem;
  margin-bottom: 0.3rem;
  width: auto;
  float: left;
  .gohan-caret-icon {
    float: right;
    cursor: pointer;
  }
  &.gohan-form-title-cursor {
    cursor: pointer;
  }
}

.gohan-form-description {
  font-size: 0.8em;
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  display: inline-block;
  color: #999;
}

.gohan-form-object-children {
  .gohan-form-object-children {
    padding: 1rem;
    border: 1px solid $gray-300;
  }

  label {
    font-size: 0.875rem;
    font-weight: bold;
    margin-bottom: .5rem;
    display: inline-block;
  }

  &.gohan-shown-content {
    overflow: hidden;
    transition: max-height 500ms ease-out;
  }

  &.gohan-hidden-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 500ms ease-in;
  }
}

.field-array-of-object {
  .sort {
    display: flex;
    justify-content: space-between;
  }
  .tab-item {
    font-size: 0.875rem;
    margin-right: -0.5em;
  }
  .tab-pane-array {
    border: 1px solid $gray-300;
    padding: 1rem;
    border-top: none;
    margin-bottom: 1rem;
    > .array-item {
      > .gohan-form-array-item {
        > .form-group  {
          > .gohan-reset-fieldset {
            > .gohan-form-object-children {
              border: none;
              padding: 0;
            }
          }
        }
      }
    }
  }
}

.gohan-reset-fieldset {
  border-width: 0;
  padding: 0;
  margin-left: 0;
  a.nav-item.nav-link {
    font-size: 0.875rem;
  }
  .add-object-button {
    margin-top: -0.2rem;
    margin-bottom: 0.2rem;
  }
  .tab-pane-object {
    border: 1px solid $gray-300;
    padding: 1rem;
    border-top: none;
    margin-bottom: 1rem;
    > .form-group  {
      > .gohan-reset-fieldset {
        > .gohan-form-object-children {
          border: none;
          padding: 0;
        }
      }
    }
  }
}

.form-group {
  .CodeMirror {
    font-size: 0.875rem;
    height: 16rem;

    &-scroll {
      max-width: 850px;
    }
  }
}

/*
 * Select
 */
.gohan-select-container {
  position: relative;
  margin-bottom: 10px;
}


.gohan-select-control {
  text-align: left;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
  background-size: 8px 10px;
  &.not-selected {
    color: $gray-500;
  }
}

.gohan-select-options {
  position: absolute;
  z-index: 21;
  border: 1px solid $gray-400;
  background: #fff;
  overflow-x: auto;
  border-radius: 4px;
  color: $gray-800;
  box-shadow: 0 1px 0 0.2rem rgba(0, 0, 0, 0.02);
}

.gohan-select-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.gohan-list {
  padding: 0.375rem 0.75rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1.5;
  -moz-user-select: none;
  user-select: none;
  transition: color .15s ease-in-out, background-color .15s;
  &:hover {
    background-color: $gray-300;
  }
  &.selected {
    background-color: $primary;
    color: #fff;
  }
  &.not-found {
    background-color: $gray-500;
    color: #fff;
  }
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.search-container {
  padding: 0.5rem;
}
