/* Select widget colors */
$select-options-background: #ffffff;
$select-options-input-focus: #137cbd;
$object-field-background: #ebf1f5;

.pt-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  top: initial;
}

@media (min-width: 768px) {
  .pt-dialog {
    width: 600px;
    margin: 30px auto;
  }
}
@media (min-width: 992px) {
  .pt-dialog {
    width: 900px;
  }
}


/* Select widget */
.gohan-select-widget {
  position: relative;
  margin-bottom: 10px;
  ul {
    max-height: 21vh;
    overflow: auto;
  }
  button {
    text-align: left;
    span.pt-align-right{
      float: right;
      margin-top: 7px;
    }
  }
  .options-list {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 10;
    border: 1px solid darken($select-options-background, 40%);
    background: $select-options-background;
    .pt-menu {
      border-radius: 0;
    }
  }
  .pt-input {
    border-radius: 0;
    box-shadow: 0 0 0 0 transparentize($select-options-background, 1),
      0 0 0 0 transparentize($select-options-background, 1),
      inset 0 0 0 0 transparentize($select-options-background, 1),
      inset 0px -1px 0px 0px darken($select-options-background, 40%);
    &:focus {
      box-shadow: inset 0 0 0 1px $select-options-input-focus,
        inset 0 0 0 3px transparentize($select-options-input-focus, 0.8),
        inset 0 1px 1px transparentize($select-options-input-focus, 0.7);
    }
  }
  .pt-menu {
    padding: 0;
    .pt-menu-item {
      border-radius: 0;
    }
  }
}

.list-sortable {
  counter-reset: section;
  padding: 0;
  background-color: #f3f3f3;
  margin-bottom: 5px;
  min-height: 2em;
  li.list-item-container {
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-left: 5px solid #ccc;
    margin-bottom: -1px;
    display: table;
    table-layout: fixed;
    width: 100%;
    > div {
      display: table-cell;
      vertical-align: top;
      padding: 8px 5px;
    }
    > div.action {
      width: 3em;
      text-align: center;
      vertical-align: middle;
      padding-left: 10px;
    }
    > div.sort {
      width: 6em;
    }
  }
}
.list-sortable-active {
  z-index: 3000;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-left: 5px solid #ccc;
  margin-bottom: -1px;
  display: table;
  table-layout: fixed;
  width: 100%;
  > div {
    display: table-cell;
    vertical-align: top;
    padding: 8px 5px;
  }
  > div.action {
    width: 3em;
    text-align: center;
    vertical-align: middle;
    padding-left: 10px;
  }
  > div.sort {
    width: 6em;
  }
}

/* Object editor */
.pt-tabs {
  border: 1px solid darken($object-field-background, 20%);
  background: $object-field-background;
  margin: 0 0 1em 2px;
  padding: 0 1em 1em 1em;
}

.gohan-form-asterisk {
  color: #ff0039;
  margin-left: 0.25rem;
}

.gohan-form-dialog-group {
  margin-bottom: 5px;
}

.gohan-form-error-list {
  padding: 2px;
  list-style-type: none;
  margin: 0;
}

.gohan-form-error-list-item {
  margin-top: 0;
}

.gohan-form-legend {
  font-weight: bolder;
  width: 100%;
  .gohan-caret-icon {
    float: right;
    cursor: pointer;
  }
  &.gohan-form-title-cursor {
    cursor: pointer;
  }
}

.gohan-form-description {
  font-size: 0.8em;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 2px;
  padding-left: 2px;
}

.gohan-reset-fieldset {
  border-width: 0;
  padding: 0;
  margin-left: 0;
}

.gohan-form-object-children {
  padding-left: 10px;

  &.gohan-shown-content {
    overflow: hidden;
    transition: max-height 500ms ease-out;
  }

  &.gohan-hidden-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 500ms ease-in;
  }
}

.gohan-form-checkbox {
  margin-bottom: 5px;
  min-height: 10px;
  line-height: 16px;
}

.gohan-table-select-column {
  width: 5px;
}

.gohan-form-array-item {
  padding-top: 5px;
}

.pt-tab-list {
  flex-wrap: wrap;
}
