@import "~material-design-icons/iconfont/material-icons.css";
@import "~@blueprintjs/core/dist/blueprint.css";

/*
 * Colors
 */
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 60%) !default;   // #999
$gray-lighter:           lighten($gray-base, 90%) !default; // #eee

$brand-primary:         #2780E3 !default;
$brand-success:         #3FB618 !default;
$brand-info:            #9954BB !default;
$brand-warning:         #FF7518 !default;
$brand-danger:          #FF0039 !default;


/*
 * Base structure
 */
body {
  margin: 0;
  background-color: #edecec;
}

.detail {
  span.property-title {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.9);
  }
}

/*
 * Auth component
 */

.auth-input {
  width: 100%;
}

.auth-submit {
  width: 100%;
  text-transform: uppercase;
}

.auth-card {
  min-width: 250px;
  max-width: 450px;
  padding: 20px;
  margin: auto;
  text-align: left;
  display: block;
}

