@import "~@blueprintjs/core/dist/blueprint.css";
@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/monokai.css';
@import "./dialog";
/*
 * Colors
 */
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 60%) !default;   // #999
$gray-lighter:           lighten($gray-base, 90%) !default; // #eee

$brand-primary:         #2780E3 !default;
$brand-success:         #3FB618 !default;
$brand-info:            #9954BB !default;
$brand-warning:         #FF7518 !default;
$brand-danger:          #FF0039 !default;

.CodeMirror {
  height: auto;
  pre {
    box-shadow: none;
    min-width: 200px;
  }
}
.cm-s-monokai .CodeMirror { background: #272822; color: #f8f8f2; }
/*
 * Base structure
 */

body {
  margin: 0;
  height: 100vh;
  background-color: #edecec;
}
.view-content {
  padding-top: 50px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 260px;
  min-height: 400px;
  transition: padding-left 250ms ease-in;

  &.sidebar-hidden {
    padding-left: 0;
    transition: padding-left 250ms ease-out;
  }
}
.table-container, .detail-container, .loading-container {
  margin: 15px
}

.detail {
  padding: 0;
  .detail-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 0 15px;
    .title {
      font-size: 18px;
      margin: 10px 0;
      line-height: 30px;
      color: $gray;
    }
    .actions {
      margin: 10px 0;
    }
  }
  .detail-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    >*>span.property-title {
      font-weight: bold;
      color: $gray;
    }
  }
  &-request-form {
    border-top: 1px solid $gray-lighter;
    margin-top: 15px;
    padding-top: 15px;
  }
  .toggle-request-form {
    margin-top: 15px;
    align-self: flex-end,
  }
}

.detail-custom-action:first-letter {
  text-transform: capitalize;
}

.table {
  width: 100%;
  th {
    a {
      cursor: pointer;
      user-select: none;
      text-decoration: none;
      span:nth-child(2) {
        padding-left: 8px;
      }
      span.hidden {
        visibility: hidden;
      }
      &:hover {
        color: #103f69;
        span.hidden {
          visibility: visible;
          color: rgba(16, 63, 105, 0.71);
        }
      }
    }
  }
  th.options {
    cursor: default;
    user-select: none;
  }
}

.table-container {
  [type=button], select {
    user-select: none;
  }
}

.sidebar {
  position: fixed;
  top: 50px;
  height: 100%;
  width: 260px;
  float: left;
  overflow-x: hidden;
  background-color: #fff;
  padding-top: 10px;
  margin-left: 0;
  transition: margin-left 250ms ease-in;

  .sidebar-search {
    padding-left: 10px;
    padding-right: 10px;
    label.pt-label {
      margin-bottom: 5px;
    }
  }

  &.sidebar-hidden {
    margin-left: -260px;
    transition: margin-left 250ms ease-out;
  }
}

.pt-menu-header {
  > h6 {
    font-size: 15px;
  }
}
/*
 * Auth component
 */

.gohan-auth-enter {
  opacity: 0.01;

}
.gohan-auth-enter-active {
  opacity: 1;
  transition: opacity 100ms 100ms ease-in;
}

.gohan-auth-leave {
  opacity: 1;

}
.gohan-auth-leave-active {
  opacity: 0;
  transition: opacity 100ms ease-out;
}
.auth-input {
  width: 100%;
}

.auth-submit {
  width: 100%;
  text-transform: uppercase;
}

.auth-card {
  min-width: 250px;
  max-width: 450px;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  display: block;
}

/*
 *  LoadingIndicator component
 */
.loading-spinner.loading-spinner {
  margin: auto;
  display: block;
}

.pagination {
  padding-left: 0;
  user-select: none;
  ul {
    padding-left: 15px;
    padding-right: 15px;
  }
  li {
    padding: 0;
  }
  a {
    padding: 0 10px;
    text-decoration: none;
    display: block;
  }
}

@media (max-width: 1200px) {
  .table-container > .pt-card {
    overflow-x: auto;
  }
}

/*
 * ApiRequestForm component
 */
.request-form {
  &-section {
    margin-bottom: 15px;
    text-align: left;
  }

  .input-label {
    font-weight: bold;
  }

  .info-icon {
    margin-left: 5px;
    font-size: 12px;
    font-weight: normal;
  }

  .editor-description {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
  }

  .base-url {
    position: relative;
    padding-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 30px;
    margin: 0;

    &:after {
      content: '+';
      display: inline-block;
      position: absolute;
      right: 0;
    }
  }

  .CodeMirror {
    height: 280px;
  }
}

/*
 * Select component
 */
select.select {
  background-color: #fff;
  background-image: none;

  &:hover,
  &:active {
    background-color: #fff;
  }
}

/*
 * SuccessToaster component
 */

.toaster-codemirror .CodeMirror {
  height: 300px;
}

/*
 *  Sidebar menu component
 */

.menu {
  &-category {
    &-header {
      display: flex;
      justify-content: space-between;

      &-collapsible {
        cursor: pointer;
      }
    }
  }

  &-search-noresults {
    margin: 0 10px;
    word-wrap: break-word;
    line-height: 20px;
    font-size: 16px;
  }
}

.menu-category {
  border-bottom: 1px solid $gray-lighter;
  margin-top: 10px;
  padding-bottom: 10px;
  &:first-child {
     margin-top: 0;
  }
  &:last-child {
     border-bottom: none;
  }
  .pt-menu-item {
    font-size: 14px;
  }
}

.pt-dark {
  .pt-breadcrumb {
    color: #fff;
  }
  .pt-button:not([class*="pt-intent-"])[class*="pt-icon-"]::before {
    color: #fff;
  }
}

.pt-card {
  border-radius: 0;
}

.gohan-detail-property {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  .property-title {
    flex-grow: 1;
    text-align: right;
    margin-right: 1em;
    color: #bbb;
  }
  .property-value, .ReactCodeMirror {
    flex-grow: 0;
    max-width: 75%;
    flex-basis: 75%;
  }
}

.pt-popover.pt-popover-content-sizing .pt-popover-content {
  padding: 5px;
}
/*
 * Tabs
 */

.tab-content {
  padding: 15px;
  border: 1px solid #ddd;
  border-top: none;
}
