@import "~@blueprintjs/core/dist/blueprint.css";
@import '~codemirror/lib/codemirror.css';

/*
 * Colors
 */
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 60%) !default;   // #999
$gray-lighter:           lighten($gray-base, 90%) !default; // #eee

$brand-primary:         #2780E3 !default;
$brand-success:         #3FB618 !default;
$brand-info:            #9954BB !default;
$brand-warning:         #FF7518 !default;
$brand-danger:          #FF0039 !default;


/*
 * Base structure
 */

body {
  //padding-top: 50px;
  margin: 0;
  background-color: #edecec;
}
.view-content {
  padding: 64px 14px 14px 270px;
  min-height: 400px;
}

.table {
  width: 100%;
  th {
    a {
      cursor: pointer;
      user-select: none;
      text-decoration: none;
      span:nth-child(2) {
        padding-left: 8px;
      }
      span.hidden {
        visibility: hidden;
      }
      &:hover {
        color: #103f69;
        span.hidden {
          visibility: visible;
          color: rgba(16, 63, 105, 0.71);
        }
      }
    }
  }
  th.options {
    cursor: default;
    user-select: none;
  }
}

.table-container {
  [type=button], select {
    user-select: none;
  }
}

.detail {
  h2 {
    display: inline-block;
  }
  >span.property-title {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.9);
  }
  .icons {
    display: inline-block;
    float: right;
    &.delete {
      margin-left: 15px;
    }
  }
}

.sidebar {
  position: fixed;
  top: 50px;
  height: 100%;
  width: 260px;
  float: left;
  overflow-x: hidden;
}
/*
 * Auth component
 */

.auth-input {
  width: 100%;
}

.auth-submit {
  width: 100%;
  text-transform: uppercase;
}

.auth-card {
  min-width: 250px;
  max-width: 450px;
  padding: 20px;
  margin: auto;
  text-align: left;
  display: block;
}

/*
 *  LoadingIndicator component
 */
.loading-spinner.loading-spinner {
  margin: auto;
  display: block;
}

.pagination {
  padding-left: 0;
  user-select: none;
  ul {
    padding-left: 15px;
    padding-right: 15px;
  }
  li {
    padding: 0;
  }
  a {
    padding: 0 10px;
    text-decoration: none;
    display: block;
  }
}

@media (max-width: 1200px) {
  .table-container > .pt-card {
    overflow-x: scroll;
  }
}

.CodeMirror {
  height: auto;
  border: 1px solid #ccc;
  pre {
    box-shadow: none;
  }
}
