@import "~@blueprintjs/core/dist/blueprint.css";
@import '~codemirror/lib/codemirror.css';
@import "./dialog";
/*
 * Colors
 */
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 60%) !default;   // #999
$gray-lighter:           lighten($gray-base, 90%) !default; // #eee

$brand-primary:         #2780E3 !default;
$brand-success:         #3FB618 !default;
$brand-info:            #9954BB !default;
$brand-warning:         #FF7518 !default;
$brand-danger:          #FF0039 !default;


/*
 * Base structure
 */

body {
  margin: 0;
  background-color: #edecec;
}
.view-content {
  padding-top: 50px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 260px;
  min-height: 400px;
  transition: padding-left 250ms ease-in;

  &.sidebar-hidden {
    padding-left: 0;
    transition: padding-left 250ms ease-out;
  }
}
.table-container, .detail-container, .loading-container {
  margin: 15px
}

.table {
  width: 100%;
  th {
    a {
      cursor: pointer;
      user-select: none;
      text-decoration: none;
      span:nth-child(2) {
        padding-left: 8px;
      }
      span.hidden {
        visibility: hidden;
      }
      &:hover {
        color: #103f69;
        span.hidden {
          visibility: visible;
          color: rgba(16, 63, 105, 0.71);
        }
      }
    }
  }
  th.options {
    cursor: default;
    user-select: none;
  }
}

.table-container {
  [type=button], select {
    user-select: none;
  }
}

.detail {
  h2 {
    display: inline-block;
  }
  >span.property-title {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.9);
  }
  .icons {
    display: inline-block;
    float: right;
    &.delete {
      margin-left: 15px;
    }
  }
}

.sidebar {
  position: fixed;
  top: 50px;
  height: 100%;
  width: 260px;
  float: left;
  overflow-x: hidden;
  background-color: #fff;
  padding-top: 10px;
  margin-left: 0;
  transition: margin-left 250ms ease-in;

  .sidebar-search {
    padding-left: 10px;
  }

  &.sidebar-hidden {
    margin-left: -260px;
    transition: margin-left 250ms ease-out;
  }
}
/*
 * Auth component
 */

.gohan-auth-enter {
  opacity: 0.01;

}
.gohan-auth-enter-active {
  opacity: 1;
  transition: opacity 100ms 100ms ease-in;
}

.gohan-auth-leave {
  opacity: 1;

}
.gohan-auth-leave-active {
  opacity: 0;
  transition: opacity 100ms ease-out;
}
.auth-input {
  width: 100%;
}

.auth-submit {
  width: 100%;
  text-transform: uppercase;
}

.auth-card {
  min-width: 250px;
  max-width: 450px;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  display: block;
}

/*
 *  LoadingIndicator component
 */
.loading-spinner.loading-spinner {
  margin: auto;
  display: block;
}

.pagination {
  padding-left: 0;
  user-select: none;
  ul {
    padding-left: 15px;
    padding-right: 15px;
  }
  li {
    padding: 0;
  }
  a {
    padding: 0 10px;
    text-decoration: none;
    display: block;
  }
}

@media (max-width: 1200px) {
  .table-container > .pt-card {
    overflow-x: auto;
  }
}

.CodeMirror {
  height: auto;
  border: 1px solid #ccc;
  pre {
    box-shadow: none;
    min-width: 200px;
  }
}


