*       @thayashi @stepek
*.js    @thayashi @stepek @sealionkat @michal-damiecki
*.jsx   @thayashi @stepek @sealionkat @michal-damiecki
*.ts    @thayashi @stepek @sealionkat @michal-damiecki
*.tsx   @thayashi @stepek @sealionkat @michal-damiecki
*.css   @thayashi @stepek @sealionkat @michal-damiecki
*.less  @thayashi @stepek @sealionkat @michal-damiecki
*.sass  @thayashi @stepek @sealionkat @michal-damiecki
