*       @thayashi @stepek
*.js    @sealionkat @michal-damiecki
*.jsx    @sealionkat @michal-damiecki
*.ts    @sealionkat @michal-damiecki
*.tsx    @sealionkat @michal-damiecki
*.css    @sealionkat @michal-damiecki
*.less    @sealionkat @michal-damiecki
*.sass    @sealionkat @michal-damiecki
