{
  "presets": [
    "flow",
    "es2016",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-regenerator",
    "transform-export-extensions",
    "transform-strict-mode",
    "transform-object-rest-spread",
    "syntax-async-functions",
    "syntax-trailing-function-commas"
  ],
  "env": {
    "lib": {
      "presets": [
        "es2015"
      ]
    },
    "dev-server": {
      "presets": [
        "react-hmre"
      ]
    },
    "test": {
      "presets": [
        "es2015"
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        "transform-regenerator",
        "transform-export-extensions",
        "transform-strict-mode",
        "transform-object-rest-spread",
        "syntax-async-functions",
        "syntax-trailing-function-commas"
      ]
    }
  }
}
