{
  "presets": [
    "flow",
    "es2016",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-regenerator",
    "transform-export-extensions",
    "transform-strict-mode",
    "transform-object-rest-spread",
    "syntax-async-functions",
    "syntax-trailing-function-commas",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "env": {
    "dev-server": {
      "presets": [
        "es2015",
        "es2016",
        "react",
        "flow",
        "react-hot"
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        "transform-regenerator",
        "transform-export-extensions",
        "transform-strict-mode",
        "transform-object-rest-spread",
        "syntax-async-functions",
        "syntax-trailing-function-commas",
        ["transform-runtime", {
          "polyfill": false,
          "regenerator": true
        }]
      ]
    },
    "test": {
      "presets": [
        "es2015"
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        "transform-regenerator",
        "transform-export-extensions",
        "transform-strict-mode",
        "transform-object-rest-spread",
        "syntax-async-functions",
        "syntax-trailing-function-commas",
        ["transform-runtime", {
          "polyfill": false,
          "regenerator": true
        }]
      ]
    }
  }
}
