{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "es2016",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-function-bind",
    "syntax-async-functions",
    "transform-regenerator"
  ],
  "env": {
    "dev-server": {
      "presets": [
        "react-hmre"
      ]
    },
    "test": {
      "presets": [
        "es2015"
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        "transform-function-bind",
        "syntax-async-functions",
        "transform-regenerator"
      ]
    }
  }
}
