:global(.pt-button:not([class*="pt-intent-"])).navbarButton {
  line-height: 20px;
}

:global(.pt-button:not([class*="pt-intent-"])).navbarButton,
:global(.pt-button:not([class*="pt-intent-"])).navbarButton:before,
:global(.pt-button:not([class*="pt-intent-"])).navbarButton [class*="pt-icon-"]:before {
  color: #eeeeee;
}

.sidebarButton {
  composes: navbarButton;
  margin-right: 15px;
  margin-left: 15px;
}
