.sidebar {
  position: fixed;
  top: 50px;
  height: 100%;
  width: 260px;
  float: left;
  overflow-x: hidden;
  background-color: #fff;
  padding-top: 10px;
  margin-left: 0;
  transition: margin-left 250ms ease-in;

  &__search {
    padding-left: 10px;
  }

  &--hidden {
    margin-left: -260px;
    transition: margin-left 250ms ease-out;
  }
}
