.header {
  composes: pt-menu-header from '@blueprintjs/core/dist/blueprint.css';
  display: flex;
  justify-content: space-between;
  margin: 5px 15px;
  padding: 0;
}

.collapsible {
  cursor: pointer;
}

.collapseIcon {
  composes: pt-icon-standard from '@blueprintjs/core/dist/blueprint.css';
}

.collapseIconOpen {
  composes: collapseIcon;
  composes: pt-icon-caret-up from '@blueprintjs/core/dist/blueprint.css';
}

.collapseIconClosed {
  composes: collapseIcon;
  composes: pt-icon-caret-down from '@blueprintjs/core/dist/blueprint.css';
}

.noResults {
  margin: 0 10px;
  word-wrap: break-word;
  line-height: 20px;
  font-size: 16px;
}
