.tabHeader {
  composes: nav-item nav-link from 'bootstrap/dist/css/bootstrap.css';
}

.tabHeaderActive {
  composes: tabHeader;
  composes: active from 'bootstrap/dist/css/bootstrap.css';
}

.tabsHeader {
    composes: nav nav-tabs from 'bootstrap/dist/css/bootstrap.css';
}


.tabsContent {
    composes: tab-content from 'bootstrap/dist/css/bootstrap.css';
}

.tabPanel {
    composes: tab-pane fade from 'bootstrap/dist/css/bootstrap.css';
}

.tabPanelActive {
    composes: tabPanel;
    composes: show active from 'bootstrap/dist/css/bootstrap.css';
}
