<div class="header-panel shadow-z-2 navbar navbar-default navbar-material-blue-600" id="header">
</div>

<div class="container-fluid main" id="main_containter">
  <div class="row">
    <nav class="col-xs-2 menu" id="sidebar">
    </nav>
    <div class="pages col-xs-10">
      <div class="col-xs-12">
        <div class="well page" id="main">
          <div class="page_header">
            <div id="back_button"></div>
            <h1 id="page_title"></h1>
          </div>
          <div id="main_body">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
