.sidebarHead {
  position: fixed;
  top: 0px;
  width: calc(230px - 17px);
  height: 100px;
  padding: 15px;
  padding-top: 5px;
  background: #fff;
}

@media (min-width: 768px) {
  .sidebarHead {
    position: fixed;
    z-index: 1038;
  }
}
