.select {
  position: relative;
  margin-bottom: 10px;
  color: #495057;
}

.button {
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  line-height: 1.25;
  vertical-align: middle;
  font-size: 1rem;
  text-align: left;
  color: #495057;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
  background-size: 8px 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.button:focus {
  border-color: #80bdff;
  outline: none;
}

.options {
  position: absolute;
  z-index: 21;
  border: 1px solid #7b9dd4;
  background: #fff;
  overflow-x: auto;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.element {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 3px 12px;
  font-size: 1rem;
}

.element:hover {
  background: #1ebdff;
  color: #fff;
}

.elementSelected {
  composes: element;
  color: #fff;
  background: #1e90ff;
}

.search {
  display: block;
  position: relative;
}
.searchIcon {
  position: absolute;
  margin: 6px;
  display: block;
  width: 1rem;
  height: 1rem;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%228%22%20viewBox%3D%220%200%208%208%22%3E%0A%20%20%3Cpath%20d%3D%22M3.5%200c-1.93%200-3.5%201.57-3.5%203.5s1.57%203.5%203.5%203.5c.59%200%201.17-.14%201.66-.41a1%201%200%200%200%20.13.13l1%201a1.02%201.02%200%201%200%201.44-1.44l-1-1a1%201%200%200%200-.16-.13c.27-.49.44-1.06.44-1.66%200-1.93-1.57-3.5-3.5-3.5zm0%201c1.39%200%202.5%201.11%202.5%202.5%200%20.66-.24%201.27-.66%201.72-.01.01-.02.02-.03.03a1%201%200%200%200-.13.13c-.44.4-1.04.63-1.69.63-1.39%200-2.5-1.11-2.5-2.5s1.11-2.5%202.5-2.5z%22%0A%20%20/%3E%0A%3C/svg%3E") no-repeat center;
  background-size: cover;
}
.searchInput {
  padding-left: calc(1rem  + 6px * 2);
  width: 100%;
  height: calc(1rem + 6px * 2);
  border: 0;
  border-bottom: 1px solid #7b9dd4;
}
.searchInput:focus {
  border-bottom: 1px solid #80bdff;
}

.singleBorder {
  border: none !important;
  padding: 0 !important;
}
