{
    "authUrl": "http://__HOST__:9091/v2.0",
    "gohan": {
        "schema": "/gohan/v0.1/schemas",
        "url": "http://__HOST__:9091"
    },
    "keystoneVersion": "v3",
    "sidebar": [
        {
            "path": "",
            "title": "Sample",
            "id": "sample_item"
        }
    ],
    "routes": [
        {
            "path": "",
            "viewClass": "Sample",
            "name": "Sample"
        }
    ],
    "sidebarFavorites": [
        "sample_item",
        "food",
        "menu"
    ],
    "sidebarCategories": [
        {
            "name": "Sample Category",
            "id": "sample_category",
            "items": [
                "sample_item"
            ]
        },
        {
            "name": "Examples",
            "id": "examples",
            "items": [
                "basictype",
                "format",
                "objecttype",
                "food",
                "menu",
                "arraytype3",
                "arraytype2",
                "arraytype1",
                "parent_child"
            ]
        }
    ],
    "errorMessages": {
        "tokenExpire": "The token is expired. Please re-login."
    },
    "addingRelationDialog": [
        "Pet"
    ],
    "pageLimit": 5,
    "loginRequestTimeout": 30000,
    "polling": true
}
