[
  {
    "id": "basictype",
    "title": "test",
    "properties": {
      "ui:disabled": true,
      "name" : {
        "ui:widget": "js"
      },
      "color": {
      }
    },
    "logic": {
      "name": {
        "hide": {
          "hide": [
            "color"
          ]
        }
      }
    }
  }
]
