<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <div class="user_menu" id="header">
      </div>
      <div id="sidebar">
      </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="gohan_header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-8 title"><span class="fa fa-navicon"></span><h1>Overview > child resource</h1></div>
            <div class="col-sm-4 edit"></div>
          </div>
        </div>
      </div>
      <div id="main_body">
      </div>
    </div>
  </div>
</div>
