<div >
  <div >
      <div class="user_menu " id="header">
<!--
    <div class="col-sm-3 col-md-2 sidebar">
      </div>-->
    </div>
    <!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->
      <div id="main-container">
            <div class="gohan_header" id="bread-crumb"></div>
            <div id="sidebar" class="">
            <div id="sidebar-shortcuts">
            <div id="sidebar-shortcuts-large">
                <button id="btn-monitor" class="btn btn-small btn-monitor" title="Monitor" onclick="" disabled >
                    <i class="fa fa-bar-chart icon-large"></i>
                </button>
                <button id="btn-configure" class="btn btn-small btn-configure active" title="Configure" onclick="">
                    <i class="fa fa-wrench icon-large"></i>
                </button>
                <button id="btn-setting" class="btn btn-small btn-setting" title="Setting" onclick="" disabled>
                    <i class="fa fa-cog icon-large"></i>
                </button>
                <button id="btn-query" class="btn btn-small btn-query" title="Query" onclick="" disabled >
                    <i class="fa fa-search icon-large"></i>
                </button>
            </div>

            <div id="sidebar-shortcuts-mini">
                <span class="btn btn-monitor"></span>
                <span class="btn btn-configure"></span>
                <span class="btn btn-setting"></span>
                <span class="btn btn-query"></span>
            </div>
            </div>
            </div>
      <div id="main_body" class="">

      </div>
      </div>
    <!--</div>-->
  </div>
</div>
