<div class="container-fluid">
  <div class="row">
    <div class="sidebar" id="sidebar">
    </div>
    <div class="main">
      <nav class="navbar navbar-inverse navbar-fixed-top gohan-header">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gohan-header-navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
            </button>
            <div id="bread-crumb"></div>
          </div>
          <div class="collapse navbar-collapse" id="gohan-header-navbar-collapse">
             <div id="header"></div>
          </div>
        </div>
      </nav>
      <div id="main_body">
      </div>
    </div>
  </div>
</div>
