<div class="container-fluid">
    <div id="breadcrumbs" class="fixed">
        <div class="col-sm-8 title"><ul class="breadcrumb">
            <% _.each(parents, function iterator(parent, key) { %>
            <% if (key === 0) { %><li><a href="#<%- parent.schemaFragment %>">Configure</a></li> ><% } %>
            <% if (key !== 0) { %> > <% } %>
            <li><a href="#<%- parent.schemaFragment %>"><%- parent.schemaTitle %></a></li>
            <% if (parent.title) { %>
            >
            <li><a href="#<%- parent.fragment %>"><%- parent.title %></a></li>
            <% } %>
        <% }) %>
        </ul></div>
        <div class="col-sm-4 edit"></div>
    </div>
</div>
