<% if (authToken) { %>
<ul class="nav navbar-nav navbar-right">
  <% if (tenants.length > 1) { %>
  <li class="dropdown">
    <a  id="tenant-ddm" href="#" class="dropdown-toggle" data-toggle="dropdown" 
        role="button" aria-haspopup="true" aria-expanded="false">Tenant: <%= tenantName %> <span class="caret"></span> </a>
    <ul class="dropdown-menu" aria-labelledby="tenant-ddm">
      <% _.each(tenants, function(tenant){ %>
      <li><a href="#" data-gohan="change-tenant" data-tenant="<%= tenant.name %>"><%= tenant.name %></a></li>
      <% }); %>
    </ul>
  </li>
  <% } else { %>
  <li><a style="pointer-events: none;">Tenant: <%= tenantName %></a></li>
  <% } %>
  <li class="dropdown">
    <a  id="user-ddm" href="#" class="dropdown-toggle" data-toggle="dropdown" 
        role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= username %> <span class="caret"></span> </a>
    <ul class="dropdown-menu" aria-labelledby="user-ddm">
      <li>
        <a href="#" data-gohan="logout">Log Out</a>
      </li>
    </ul>
  </li>
 </ul>
 <% } %>
