<tr>
<td class="handle">
    <span class="fa fa-reorder" aria-hidden="true"></span>
</td>
<td>
    <input id="id" value="<%- property["id"] %>" class="form-control id_form"/>
</td>
<% _.each(propertyColumns, function(column){
    var id = column.id; %>
    <td>
    <% if (column.enum){ %>
        <select class="form-control" id="'<%- id %>">
        <% _.each(column.enum, function(key){ %>
           <option value="<%- key %>"
               <% if(key == property[column.id] ){ %> selected <% } %>> <%- key %>
           </option>
        <% }); %>
        </select>
    <% } else if (column.type == "string"){ %>
        <input id="<%- id %>" value="<%- property[column.id] %>" class="form-control"/>
    <% }else if(column.type == "checkbox") { %>
        <input type="checkbox" class="form-control" id="<%- id %>"
            <% if(property[column.id]){;%> checked  <% } %> />
    <% } %>
    </td>
<% }); %>
<td class="action">
    <button type="button" class="btn btn-default" aria-label="Detail" id="detail" > Detail </button>
    <a class="delete" aria-label="Delete"><span class="fa fa-remove"></span></a>
</td>
</tr>
