
<div class="container-fluid table_search">
  <div class="row">
    <div class="col-xs-6 resource_name">
      <h2><%- schema.title %></h2>
    </div>
    <div class="col-xs-6 func">
      <form class="form-inline">
        <div class="form-group">
        <span>Filter by:</span>
          <select class="form-control search" placeholder="Filter By">
            <% schema.schema.propertiesOrder.forEach( function(key){
              var property = schema.schema.properties[key];
              var view = property['view']

              if(view && !view.includes('list') || key === parentProperty){
               return;
              }
            %>
                <option value="<%= key %>"><%= property.title %></option>
            <%
              }
            );
            %>
          </select>
          <input type="text" class="form-control search" placeholder="Search" value="<%= searchQuery.sortKey %>">
        </div>
      </form><a class="btn btn-primary gohan_create"><strong>+</strong> New</a>
    </div>
  </div>
</div>
<div class="card">
  <table class="table table-hover gohan-table">
    <thead>
      <tr>
       <% schema.schema.propertiesOrder.forEach( function(key){
           var property = schema.schema.properties[key];
           var view = property['view']

           if(view && !view.includes('list') || key === parentProperty){
             return;
           }
        %>
        <th>
            <a href="#<%= schema.url.substring(1) %>" data-id="<%= key %>" class="title"><%= property.title %>
                <% if(sort.by === key) {
                    if(sort.reverse) {%>
                        <div class="glyphicon glyphicon-sort-by-alphabet-alt"></div>
                    <% } else { %>
                        <div class="glyphicon glyphicon-sort-by-alphabet"></div>
                    <% }
                } %>
            </a>
        </th>
       <% }); %>
       <th></th>
      </tr>
    </thead>
    <tbody id="page<%= key + 1 %>" >
      <% _.each(data, function(d){ %>
      <tr>
        <% schema.schema.propertiesOrder.forEach( function(key){
          var property = schema.schema.properties[key];
          var view = property['view']

          if (view) {
           if (view.indexOf("list") < 0) {
             return
           }
          }
          if (key === parentProperty){
           return
          }
          const title = property.title.toLowerCase();

          var urlPattern = /^((http|https):\/\/)/;
          if (property['format'] === 'uri' && urlPattern.test(d[key])) { %>
          <td><a href="<%- d[key] %>"> link </a></td>
        <% }else if(title === 'name' || title === 'title'){ %>
          <td><a data-id="<%= d[key] %>" href="#<%= fragment %>/<%= d.id %>"><%= _.escape(d[key]) %></a></td>
        <% } else { %>
          <td><%= d[key] %></td>
        <% } %>
        <% }); %>
        <td class="action_column">
          <div class="btn-group ">
          <a class="btn btn-default btn-sm gohan_update btn-raised btn-material-blue-600" data-id="<%- d['id']%>">Edit</a>
             <button type="button" class="btn btn-default btn-sm dropdown-toggle"
                data-toggle="dropdown" aria-expanded="true" data-container="body">
             <span class="caret"></span>
             <span class="sr-only">Toggle Dropdown</span>
           </button>
           <ul class="dropdown-menu pull-right" role="menu" >
              <li><a class="gohan_delete" data-id="<%- d['id']%>" >Delete</a></li>
           </ul>
          </div>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<% if (pageCount > 1) { %>
<nav>
    <ul class="pagination pagination-sm">
        <li <% if (activePage === 1) { %> class="disabled" <% }%>>
            <a data-id="prev" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <% if(pagination.start !== 1) { %>
          <li><a data-id="<%= pagination.start - 1 %>" data-more="<%= 'left' %>"><%=(pagination.start - pagination.limit + 1) +'...' + (pagination.start - 1) %></a></li>
        <% } %>
        <% for (var key = pagination.start; key <= pagination.start + pagination.limit - 1 && key <= pageCount; key++) {
          if(key === pagination.start + pagination.limit - 1) {
          %> 
            <li ><a data-id="<%= key %>" data-more="right"><%= key + '...' + pageCount %></a></li>
          <% } else {
            %>
            <li <% if (key === activePage) { %> class="active" <% }%>><a data-id="<%= key %>"><%= key %></a></li>
            <%
          }
        } %>
        <li <% if (activePage === pageCount) { %> class="disabled" <% }%>>
            <a data-id="next" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<% } %>


